{
  "env": {
    "development": {
      "plugins": ["styled-components"]
    },
    "production": {
      "plugins": ["styled-components"]
    },
    "test": {
      "presets": ["env", "react", "stage-0"],
      "plugins": ["styled-components"]
    }
  }
}